*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    background-image :linear-gradient(to left, rgba(15, 15, 15, 0.6),rgba(7, 7, 7, 0.3)),url("Background.png");
    
}
/***/

header {
    position:relative;
    /* width: 100%; */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: transparent; */
    padding: 30px 20px;
    /* transition:  ALL .40s ease ; */
}
.logo{
    font-size: 35PX;
    font-weight: bold;
    color: #fff;
    letter-spacing: 3PX;
}
span{
    color: #ffa343;
    font-weight: bold;
}
.navbar {
    display: flex;
}
.navbar a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    /* padding: 10px 22px; */
    /* transition:  ALL .40s ease ; */
    margin: 15px 22px;
}
.navbar a:hover {
    color:#ffa343;
    /* box-shadow: 5px 10px 30px rgb(85 85 85 /20%); */
}
/**/
.contactus{
    position: relative;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image :linear-gradient(to left, rgba(15, 15, 15, 0.6),rgba(7, 7, 7, 0.3)),url("Background.png"); */
    background-size: cover;
    flex-direction: column; /* علشان الكلمه بتاعت كونتكت اص تيجي في النص */ 
}
.contactus .contact{
    max-width: 800%;
    text-align: center;
}
.contactus .contact h2{
    font-size: 40px;
    font-weight: bolder;
    color: #ffa343;
}
.contactus .contact p{
    font-weight: 500;
    color: whitesmoke;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box{
    /* position: relative; */
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icon{
min-width: 60px;
height: 60px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
font-size: 30px;
}
.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    /* font-size: 20px; */
    flex-direction: column;
    font-weight: 500;
    color: whitesmoke;
}
.container .contactinfo .box .text h3{
 font-weight: 500;
 color: #ffa343;
 font-size: 30px;
}
.contactform{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactform h2{
    margin-bottom: 10%;
    font-size: 40px;
    color: #ffa343;
    font-weight: bolder;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input{
     width: 100%;
     padding: 5px 0;
     font-size: 16px;
     margin: 10px 0;
     border: none;
     border-bottom: 2px solid #333;
     outline: none;
     /* البوكس يبقي بوتون بس مفيش هيدر */
}
.contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
 }
.contactform .inputbox span{
    position: absolute;
    left: 0;
    /* padding: 5px 0; */
    font-size: 16px;
 }

.inputbox .home-btn{
    font-size: 20px;
    padding: 13px 40px;
    background-color:#ffa343;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.home-btn:hover{
 color: #fff;
border: 2px solid #d0c2c2;
}
 
/*footer*/
.footer {
    background-color: rgba(18, 18, 18, 0.688);
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
}

.first {
    width: 30%;
}

.first h2,
.second h2,
.third h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    font-weight: 400;

}

.first p {
    color: rgb(212, 212, 212);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.second .fa {
    color: rgb(212, 212, 212);
    font-size: 20px;
    margin: 10px 0;
}
.contact div span
{
    color: rgb(212, 212, 212);
    margin-left: 10px;
}
.social  {
    font-size: 25px ;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.fa-facebook-square{
    background: #3B5998;
    color: white;
    padding: 13px  14px;
    border-radius: 50%;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 13px  14px;
    border-radius: 50%;
}

.fa-youtube {
    background: #bb0000;
    color: white;
    padding: 13px  14px;
    border-radius: 50%;
}

.fa-instagram{
    background: #125688;
    color: white;
    padding: 13px  14px;
    border-radius: 50%;
}

.fa-pinterest-square{
    background: #cb2027;
    color: white;
    padding: 13px  14px;
    border-radius: 50%;
}

.gallery 
{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.gallery img {
    width: 100px;
    border-radius: 8px;
    
}

.fab:hover {
    opacity: 0.7;
}




